body {
  background-color: var(--primary-white-color);
  color: var(--primary-balck-color);

  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.title {
  color: var(--primary-black-color);

  font-weight: 700;
  font-size: 24px;
  line-height: 1.21;
}
