@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --primary-white-color: #fff;
  --primary-black-color: #000;
  --accent-background-color: linear-gradient(
    90.03deg,
    #00c5eb -1.97%,
    #b544fe 89.43%
  );
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-balck-color);
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.title {
  color: var(--primary-black-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.21;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
  font-style: normal;
  cursor: pointer;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea {
  outline: transparent;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 80px 0;
  }
}
@media screen and (max-width: 1199px) {
  .section {
    padding: 80px 0;
  }
}
@media screen and (max-width: 480px) {
  .section {
    padding: 40px 0;
  }
}

.container {
  max-width: 480px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.button {
  position: relative;
  display: block;
  padding: 0;
  min-width: 200px;
  min-height: 42px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #ffffff;
  border-radius: 6px;
  border: none;
  overflow: hidden;
  cursor: pointer;
}
.button::after, .button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}
.button::before {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #00c5eb -2%, #b544fe 90%);
  background-size: cover;
  background-repeat: no-repeat;
}
.button::after {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 5px;
  background-color: #06071b;
  opacity: 0;
  transition: 300ms;
}
.button__text {
  position: relative;
  z-index: 10;
}

.button:hover::after,
.button:focus::after {
  opacity: 1;
}

.mobile-menu {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5% 6.25%;
  overflow: auto;
  background-color: #07081c;
  transform: translateY(-100%);
  transition: transform 500ms linear;
  background-image: url(../images/mobile-menu/bg-img-menu-sm-1@1x.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}
.mobile-menu.is-open {
  transform: translateY(0%);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .mobile-menu {
    background-image: url(../images/mobile-menu/bg-img-menu-sm-1@2x.png);
  }
}
@media screen and (min-width: 450px) {
  .mobile-menu {
    background-image: url(../images/mobile-menu/bg-img-menu-sm-2@1x.png);
  }
}
@media screen and (min-width: 450px) and (min-device-pixel-ratio: 2), screen and (min-width: 450px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 450px) and (min-resolution: 192dpi), screen and (min-width: 450px) and (min-resolution: 2dppx) {
  .mobile-menu {
    background-image: url(../images/mobile-menu/bg-img-menu-sm-2@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 65px;
}
@media screen and (min-width: 480px) {
  .mobile-menu__wrapper {
    margin-bottom: 75px;
  }
}

.mobile-menu__close-button {
  padding: 0;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
}

.mobile-menu__close-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.mobile-menu__list {
  text-align: center;
  font-weight: 500;
  font-size: 10vw;
  line-height: 1.22;
  color: #ffffff;
}
@media screen and (min-width: 480px) {
  .mobile-menu__list {
    font-size: 48px;
  }
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 50px;
}

.mobile-menu__link {
  transition: 250ms linear;
}

.mobile-menu__link:hover,
.mobile-menu__link:focus,
.mobile-menu__link--active {
  background-image: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 40px 20px;
  overflow: auto;
  opacity: 1;
  background-color: salmon;
  transition: opacity 300ms linear;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 280px;
  padding: 48px 24px;
  margin: auto;
  color: #ffffff;
  background-color: #07081c;
  transform: translateY(0%);
  transition: transform 300ms linear;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 568px;
    padding: 32px 40px;
  }
}

.backdrop.is-hidden .modal {
  transform: translateY(100%);
}

.modal__close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background-color: transparent;
  color: #fff;
}

.modal__close-icon {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.modal__title {
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 24px;
}

.file__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 28px;
}

.card-box {
  display: block;
  width: 232px;
  height: 394px;
  padding: 20px 28px;
  cursor: pointer;
  background-color: #fff;
}

.file__logo {
  display: block;
  width: 80px;
  height: 106px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: tomato;
}

.file__icon {
  display: block;
  width: 100%;
  height: 100%;
}

.file__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #000;
}

.file__feature {
  display: flex;
  align-items: baseline;
  font-size: 14px;
  line-height: 1.71;
  color: #000;
}
.file__feature:not(:last-child) {
  margin-bottom: 12px;
}

.file__arrow {
  display: block;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  margin-right: 4px;
  fill: #fff;
  background-color: #000;
}

.modal__description {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.details {
  margin-bottom: 20px;
}

.details__item {
  padding: 20px;
  border: 2px solid tomato;
}

.details__item--primary {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: 1px solid tomato;
}

.details__item--secondary {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top: 1px solid tomato;
}

.author-details__item,
.tech-details__item {
  display: flex;
}

.author-details__item:not(:last-child),
.tech-details__item:not(:last-child) {
  margin-bottom: 20px;
}

.details__icon {
  display: block;
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  margin-right: 8px;
  fill: #fff;
}

.details__name {
  font-size: 12px;
  line-height: 1.25;
  margin-bottom: 4px;
}

.details__unit {
  font-size: 12px;
  line-height: 1.25;
  color: #1ab9fd;
}

.header {
  margin-bottom: 100px;
  padding-top: 14px;
  padding-bottom: 14px;
  background: linear-gradient(90.03deg, rgba(0, 197, 235, 0.3) -1.97%, rgba(181, 68, 254, 0.3) 89.43%);
}
@media screen and (min-width: 768px) {
  .header {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    margin-bottom: 145px;
    padding-top: 19px;
    padding-bottom: 19px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  font-size: 28px;
  line-height: 1.21;
  color: #ffffff;
}

.menu__button {
  width: 26px;
  height: 17px;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .menu__button {
    display: none;
  }
}

.menu__icon {
  width: 26px;
  height: 16px;
}

.navigation {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: block;
  }
}

.navigation__list {
  display: flex;
  gap: 40px;
  color: #ffffff;
}

.navigation__item {
  font-size: 12px;
  line-height: 1.25;
}

.hero__wrapper {
  position: relative;
  z-index: 0;
  padding-top: 20px;
  padding-bottom: 122px;
  background-color: #06071b;
}
@media screen and (min-width: 768px) {
  .hero__wrapper {
    padding-bottom: 143px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__wrapper {
    padding-top: 26px;
    padding-bottom: 146px;
  }
}

@media screen and (min-width: 768px) {
  .hero__container {
    position: relative;
  }
}

.hero__title {
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 1.2;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 40px;
  }
}

.hero__title--secondary {
  max-width: 241px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.22;
}
@media screen and (min-width: 768px) {
  .hero__title--secondary {
    margin-bottom: 28px;
    max-width: none;
    font-size: 20px;
    line-height: 1.2;
  }
}

.hero__list {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .hero__list {
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 1.19;
  }
}

.hero__item {
  display: flex;
  align-items: center;
}
.hero__item:not(:last-child) {
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .hero__item {
    margin-bottom: 12px;
  }
}

.hero__item::before {
  content: "";
  display: block;
  margin-right: 4px;
  width: 18px;
  height: 18px;
  background: url(../images/hero/icon-hero-arrow.svg);
}

.hero__button {
  margin-right: calc((100% - 200px) / 2);
  margin-left: calc((100% - 200px) / 2);
}
@media screen and (min-width: 768px) {
  .hero__button {
    margin-right: auto;
    margin-left: 0;
  }
}

.hero__image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  pointer-events: none;
}
@media screen and (min-width: 768px) {
  .hero__image {
    top: 0px;
    right: 0px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__image {
    top: -135px;
    right: 0;
  }
}

.hero__bg-image {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__bg-image {
    display: block;
    position: absolute;
    top: -20px;
    left: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__bg-image {
    top: -60px;
    left: 0;
  }
}

.features {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(../images/features/bg-img-features-sm-1@1x.png), url(../images/features/bg-img-features-sm-2@1x.png);
  background-size: 400px 250px, 1200px 824px;
  background-position: right 0, left bottom;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .features {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .features {
    background-image: none;
  }
}
@media screen and (min-width: 1280px) {
  .features {
    background-image: url(../images/features/bg-img-features-lg-2@1x.png), url(../images/features/bg-img-features-lg-1@1x.png);
    background-size: 800px, 600px;
    background-position: right, left bottom;
  }
}

.features__title {
  margin-bottom: 40px;
}
@media screen and (min-width: 1280px) {
  .features__title {
    margin-bottom: 80px;
  }
}

.features__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .features__text {
    width: 704px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .features__text {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .features__img-wrapper {
    position: relative;
  }
}

.features__img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  max-width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .features__img {
    margin-left: -33px;
    margin-right: auto;
    position: absolute;
  }
}

.features_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.features__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .features__list {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .features__list {
    justify-content: space-evenly;
    gap: 80px 400px;
    position: absolute;
    top: 61px;
    left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .tablet-wrap {
    position: absolute;
    bottom: 0;
    left: 40px;
  }
}

.features__thumb {
  display: block;
  max-width: 220px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .features__thumb {
    max-width: 238px;
  }
}

.features__subtitle {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
@media screen and (min-width: 768px) {
  .features__subtitle {
    margin-bottom: 13px;
  }
}

.features__thumb::before {
  content: "";
  position: absolute;
  background: url(../images/features/features-icon.png);
  display: inline-block;
  width: 28;
  height: 28;
  background-size: 100%;
  background-repeat: no-repeat;
  top: 0;
  left: -40px;
}

.features__subtext {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.team {
  padding-top: 22.86px;
  padding-bottom: 40px;
}

.title {
  text-align: center;
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  color: #000000;
  text-align: center;
  margin-top: 24px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
}
@media screen and (min-width: 1280px) {
  .text {
    width: 886px;
    margin-bottom: 80px;
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team__item {
  width: 280px;
  border-radius: 15px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .team__item {
    width: 336px;
    margin-right: 32px;
  }
  .team__item:nth-child(even) {
    margin-right: 0px;
  }
}
@media screen and (min-width: 1280px) {
  .team__item {
    width: 288px;
    margin-right: 32px;
    margin-bottom: 0;
  }
  .team__item:last-child {
    margin-right: 0px;
  }
}

.team__photo {
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 16px 16px 24px 16px;
}
@media screen and (min-width: 768px) {
  .team__photo {
    margin: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .team__photo {
    margin: 14px 12px 20px 12px;
  }
}

.team__descr {
  padding-bottom: 12px;
}

.team__name {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 12px;
  text-align: center;
}

.team__position {
  color: var(--primary-white-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
}

.member-1 {
  background: linear-gradient(312.87deg, rgba(0, 197, 235, 0.5) -0.2%, rgba(181, 68, 254, 0.5) 112.66%), #06071B;
  -webkit-backdrop-filter: blur(17.5px);
          backdrop-filter: blur(17.5px);
}

.member-2 {
  background: linear-gradient(105.09deg, rgba(0, 197, 235, 0.5) -13.66%, rgba(181, 68, 254, 0.5) 104.34%), #06071B;
  -webkit-backdrop-filter: blur(17.5px);
          backdrop-filter: blur(17.5px);
}

.member-3 {
  background: linear-gradient(105.09deg, rgba(0, 197, 235, 0.5) -13.66%, rgba(181, 68, 254, 0.5) 104.34%), #06071B;
  -webkit-backdrop-filter: blur(17.5px);
          backdrop-filter: blur(17.5px);
}

.member-4 {
  background: linear-gradient(313.81deg, rgba(0, 197, 235, 0.5) -7.83%, rgba(181, 68, 254, 0.5) 83.61%), #06071B;
  -webkit-backdrop-filter: blur(17.5px);
          backdrop-filter: blur(17.5px);
}

.aside {
  padding: 0px;
  background-image: url(../images/testimonials/bg-img-testimonials-sm@1x_1.png);
  background-position: left, top;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .aside {
    background-image: url(../images/testimonials/bg-img-testimonials-md@1x_1.png);
  }
}
@media screen and (min-width: 1280px) {
  .aside {
    background-image: url(../images/testimonials/bg-img-testimonials-lg@1x_1.png);
  }
}

.aside__title {
  text-align: center;
  padding-bottom: 40px;
  max-width: 179px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .aside__title {
    font-size: 20px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 768px) {
  .aside__title {
    max-width: 352px;
  }
}

.aside__img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.aside__subject {
  font-size: 18px;
  line-height: 1.22;
  font-weight: 700;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 12px;
}

.aside__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  padding-bottom: 24px;
}

.aside__desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  padding-bottom: 46px;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .aside__desc {
    font-size: 16px;
    line-height: 1.5;
    max-width: 704px;
  }
}
@media screen and (min-width: 1280px) {
  .aside__desc {
    font-size: 16px;
    line-height: 1.5;
    max-width: 886px;
  }
}

.section.contacts {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 0px;
  background-color: rgb(6, 7, 27);
}

.contacts__title {
  font-size: 24px;
  line-height: 1.21;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .contacts__title {
    max-width: 768px;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 780px) {
  .contacts__title {
    max-width: 480px;
    margin-bottom: 38px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__title {
    min-width: 1200px;
    margin-bottom: 80px;
  }
}

.contacts .container {
  text-align: center;
}

.registration-form {
  text-align: center;
}

.form-input {
  width: 100%;
  max-width: 280px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  border-radius: 5px;
  padding-left: 8px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .form-input {
    max-width: 336px;
  }
}

.form-input.name {
  height: 40px;
}

.form-input.email {
  height: 40px;
}

.form-input.message {
  resize: none;
  border-radius: 5px;
  height: 220px;
}
@media screen and (min-width: 768px) {
  .form-input.message {
    width: 100%;
  }
}

.form-field {
  width: 100%;
}
@media screen and (max-width: 468px) {
  .form-field {
    min-width: 280px;
  }
}
@media screen and (max-width: 768px) {
  .form-field {
    width: 100%;
  }
}

.form-btn {
  font-size: 16px;
  line-height: 1.19;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.contacts__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--primary-white-color);
  text-align: center;
  margin-bottom: 20px;
}

.contacts__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: var(--primary-white-color);
  text-align: center;
}

.socials__list {
  display: flex;
  gap: 16px;
  margin-bottom: 42px;
}

.socials__item {
  height: 20px;
}

.contacts__list {
  color: var(--primary-white-color);
}

.contacts__item + .contacts__item {
  margin-top: 20px;
}

.footer .container {
  background-color: rgb(6, 7, 27);
  color: var(--primary-white-color);
  padding-top: 22px;
  padding-left: 24px;
}

.copyright {
  height: 34px;
}/*# sourceMappingURL=index.css.map */