<section class="section contacts" id="contacts">
  <div class="container">
    <h2 class="contacts__title">contact us</h2>
    <div class="contacts-socials">
      <h3 class="contacts__subtitle">Get in touch with us</h3>
      <p class="contacts__text">
        Nunc urna est, tristique et varius at, pharetra nec enim. Quisque
        rhoncus lacus fringilla nulla sollicitudin tristique.
      </p>
      <ul class="socials__list">
        <li class="socials__item">
          <a class="socials__link" href=""></a>
        </li>
        <li class="socials__item">
          <a class="socials__link" href=""></a>
        </li>
        <li class="socials__item">
          <a class="socials__link" href=""></a>
        </li>
      </ul>
    </div>
  </div>
</section>
