<section class="features section">
  <div class="container">
    <h2 class="features__title">KEY FEATURES</h2>
    <p class="features__text">
      Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque
      neque. In sit amet lectus non lacus sollicitudin cursus a vitae felis.
      Praesent luctus mi quis nisi interdum eleifend.
    </p>
    <div class="features__wrapper">
      <ul class="features__list list">
        <li class="features__item">
          <div class="features__thumb">
            <h3 class="features__subtitle">Amet varius</h3>
            <p class="features__subtext">
              Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
              Vivamus diam a iaculis malesuada
            </p>
          </div>
        </li>
        <li class="features__item">
          <div class="features__thumb">
            <h3 class="features__subtitle">Amet varius</h3>
            <p class="features__subtext">
              Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
              Vivamus diam a iaculis malesuada
            </p>
          </div>
        </li>
        <li class="features__item">
          <div class="features__thumb">
            <h3 class="features__subtitle">Amet varius</h3>
            <p class="features__subtext">
              Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
              Vivamus diam a iaculis malesuada
            </p>
          </div>
        </li>
        <li class="features__item">
          <div class="features__thumb">
            <h3 class="features__subtitle">Amet varius</h3>
            <p class="features__subtext">
              Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
              Vivamus diam a iaculis malesuada
            </p>
          </div>
        </li>
        <li class="features__item">
          <div class="features__thumb">
            <h3 class="features__subtitle">Amet varius</h3>
            <p class="features__subtext">
              Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
              Vivamus diam a iaculis malesuada
            </p>
          </div>
        </li>
        <li class="features__item">
          <div class="features__thumb">
            <h3 class="features__subtitle">Amet varius</h3>
            <p class="features__subtext">
              Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
              Vivamus diam a iaculis malesuada
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
