<section class="features section">
  <div class="container">
    <h2 class="features_title">KEY FEATURES</h2>
    <p class="features__text">
      Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque
      neque. In sit amet lectus non lacus sollicitudin cursus a vitae felis.
      Praesent luctus mi quis nisi interdum eleifend.
    </p>
    <ul class="features_list list">
      <li class="features__list-item">
        <div class="features__item-icon">
          <svg width="28" height="28">
            <use href=""></use>
          </svg>
        </div>
        <h3 class="features__item-list">Amet varius</h3>
        <p class="features__item-text">
          Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
          diam a iaculis malesuada
        </p>
      </li>
      <li class="features__list-item">
        <div class="features__item-icon">
          <svg width="28" height="28">
            <use href=""></use>
          </svg>
        </div>
        <h3 class="features__item-list">Amet varius</h3>
        <p class="features__item-text">
          Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
          diam a iaculis malesuada
        </p>
      </li>
      <li class="features__list-item">
        <div class="features__item-icon">
          <svg width="28" height="28">
            <use href=""></use>
          </svg>
        </div>
        <h3 class="features__item-list">Amet varius</h3>
        <p class="features__item-text">
          Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
          diam a iaculis malesuada
        </p>
      </li>
      <li class="features__list-item">
        <div class="features__item-icon">
          <svg width="28" height="28">
            <use href=""></use>
          </svg>
        </div>
        <h3 class="features__item-list">Amet varius</h3>
        <p class="features__item-text">
          Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
          diam a iaculis malesuada
        </p>
      </li>
      <li class="features__list-item">
        <div class="features__item-icon">
          <svg width="28" height="28">
            <use href=""></use>
          </svg>
        </div>
        <h3 class="features__item-list">Amet varius</h3>
        <p class="features__item-text">
          Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
          diam a iaculis malesuada
        </p>
      </li>
      <li class="features__list-item">
        <div class="features__item-icon">
          <svg width="28" height="28">
            <use href=""></use>
          </svg>
        </div>
        <h3 class="features__item-list">Amet varius</h3>
        <p class="features__item-text">
          Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
          diam a iaculis malesuada
        </p>
      </li>
    </ul>
    <picture>
      <source srcset="./images/.webp 1x, ./images/.webp 2x" type="image/webp" />
      <source srcset="./images/.jpg 1x, ./images/.jpg 2x" type="image/jpg" />
      <img
        class="features__img"
        src="./images/"
        alt=""
        width=""
        height=""
        loading="lazy"
      />
    </picture>
  </div>
</section>
