<header class="header">
  <div class="container header__container">
    <a href="./index.html" class="logo">Mobileapp</a>
    <button
      type="button"
      class="menu__button menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="menu__icon">
        <use href="./images/symbol-defs.svg#burger"></use>
      </svg>
    </button>
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="#hero" class="navigation__link">HOME</a>
        </li>
        <li class="navigation__item">
          <a href="#features" class="navigation__link">FEATURES</a>
        </li>
        <li class="navigation__item">
          <a href="#team" class="navigation__link">TEAM</a>
        </li>
        <li class="navigation__item">
          <a href="#testimonials" class="navigation__link">TESTIMONIALS</a>
        </li>
        <li class="navigation__item">
          <a href="#contacts" class="navigation__link">CONTACT</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
