<div class="mobile-menu js-menu-container" id="mobile-menu">
  <div class="mobile-menu__wrapper">
    <a href="./index.html" class="logo mobile-menu__logo">Mobileapp</a>
    <button
      type="button"
      class="mobile-menu__close-button menu-toggle js-close-menu"
    >
      <svg class="mobile-menu__close-icon">
        <use href="./images/symbol-defs.svg#close-menu__icon"></use>
      </svg>
    </button>
  </div>
  <ul class="mobile-menu__list">
    <li class="mobile-menu__item">
      <a class="mobile-menu__link" href="#hero">HOME</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link" href="#features">FEATURES</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link" href="#team">TEAM</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link" href="#testimonials">TESTIMONIALS</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link" href="#contacts">CONTACT</a>
    </li>
  </ul>
</div>
