<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button data-modal-close type="button" class="modal__close-button">
      <svg class="modal__close-icon">
        <use href="./images/symbol-defs.svg#modal-close-icon"></use>
      </svg>
    </button>
    <h2 class="modal__title">Download</h2>

    <div class="modal__wrapper">
      <!-- Картки з варіантами файлу -->
      <ul class="file__list">
        <li class="file__item">
          <!-- Безкоштовна програма -->
          <label class="file__card">
            <input
              type="radio"
              name="app-card"
              class="file__checkbox visually-hidden"
            />
            <span class="card-box">
              <span class="file__logo">
                <svg class="file__icon">
                  <use href="./images/symbol-defs.svg#file-download"></use>
                </svg>
              </span>
              <span class="file__title">Download free plan</span>
              <span class="file__feature">
                <svg class="file__arrow">
                  <use href="./images/symbol-defs.svg#modal-right-arrow"></use>
                </svg>
                Donec posuere augue venenatis, aliquet
              </span>
              <span class="file__feature">
                <svg class="file__arrow">
                  <use href="./images/symbol-defs.svg#modal-right-arrow"></use>
                </svg>
                Donec posuere augue venenatis, aliquet
              </span>
            </span>
          </label>
        </li>
        <li class="file__item">
          <!-- Платна програма -->
          <label class="file__card">
            <input
              type="radio"
              name="app-card"
              class="file__checkbox visually-hidden"
            />
            <span class="card-box">
              <span class="file__logo">
                <svg class="file__icon">
                  <use href="./images/symbol-defs.svg#file-download"></use>
                </svg>
              </span>
              <span class="file__title">Download for 20$</span>
              <span class="file__feature">
                <svg class="file__arrow">
                  <use href="./images/symbol-defs.svg#modal-right-arrow"></use>
                </svg>
                Donec posuere augue venenatis, aliquet
              </span>
              <span class="file__feature">
                <svg class="file__arrow">
                  <use href="./images/symbol-defs.svg#modal-right-arrow"></use>
                </svg>
                Donec posuere augue venenatis, aliquet
              </span>
              <span class="file__feature">
                <svg class="file__arrow">
                  <use href="./images/symbol-defs.svg#modal-right-arrow"></use>
                </svg>
                Donec posuere augue venenatis, aliquet
              </span>
            </span>
          </label>
        </li>
      </ul>
      <p class="modal__description">
        Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque
        neque. n sit amet lectus non lacus
      </p>

      <!-- Список з інформацією про програму -->
      <ul class="details">
        <li class="details__item details__item--primary">
          <!-- Перший список -->
          <ul class="details__list author-details">
            <li class="author-details__item">
              <svg class="details__icon">
                <use href="./images/symbol-defs.svg#app-name-icon"></use>
              </svg>
              <div class="details__wrapper">
                <p class="details__name">App name</p>
                <p class="details__unit">Mobileapp.layout</p>
              </div>
            </li>
            <li class="author-details__item">
              <svg class="details__icon">
                <use href="./images/symbol-defs.svg#zip-file-icon"></use>
              </svg>
              <div class="details__wrapper">
                <p class="details__name">License</p>
                <p class="details__unit">Free</p>
              </div>
            </li>
            <li class="author-details__item">
              <svg class="details__icon">
                <use href="./images/symbol-defs.svg#user-avatar"></use>
              </svg>
              <div class="details__wrapper">
                <p class="details__name">Author</p>
                <p class="details__unit">Mobile Marrket App.com</p>
              </div>
            </li>
            <li class="author-details__item">
              <svg class="details__icon">
                <use href="./images/symbol-defs.svg#calendar-icon"></use>
              </svg>
              <div class="details__wrapper">
                <p class="details__name">Data</p>
                <p class="details__unit">21.02.2022</p>
              </div>
            </li>
          </ul>
        </li>
        <li class="details__item details__item--secondary">
          <!-- Другий список -->
          <ul class="details__list tech-details">
            <li class="tech-details__item">
              <svg class="details__icon">
                <use href="./images/symbol-defs.svg#os-icon"></use>
              </svg>
              <div class="details__wrapper">
                <p class="details__name">OC</p>
                <p class="details__unit">Windows</p>
              </div>
            </li>
            <li class="tech-details__item">
              <svg class="details__icon">
                <use href="./images/symbol-defs.svg#language-icon"></use>
              </svg>
              <div class="details__wrapper">
                <p class="details__name">Language</p>
                <p class="details__unit">English</p>
              </div>
            </li>
            <li class="tech-details__item">
              <svg class="details__icon">
                <use href="./images/symbol-defs.svg#scales-icon"></use>
              </svg>
              <div class="details__wrapper">
                <p class="details__name">Size</p>
                <p class="details__unit">4.16 MB</p>
              </div>
            </li>
            <li class="tech-details__item">
              <svg class="details__icon">
                <use href="./images/symbol-defs.svg#download-icon"></use>
              </svg>
              <div class="details__wrapper">
                <p class="details__name">Downloads</p>
                <p class="details__unit">964</p>
              </div>
            </li>
          </ul>
        </li>
      </ul>
      <div class="modal__download-button">
        <a href="#" class="button modal__download-link"
          ><span class="button__text">Download</span></a
        >
      </div>
    </div>
  </div>
</div>

<script defer src="./js/modal.js"></script>
