<!-- <script defer src="./js/modal.js"></script> -->
<div class="backdrop">
  <div class="modal">
    <h2 class="modal__title">Download</h2>
    <ul class="file__list">
      <li class="file__item">
        <label class="file__card">
          <input type="radio" name="app-card" class="file__checkbox" />
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore
          illum sapiente corrupti soluta reiciendis voluptas tenetur ipsam
          similique voluptate cum!
          <span class="card-box">
            <!-- <svg>
                <use href="./images/symbol-defs.svg#burger"></use>
                </svg> -->
            <span class="file__logo"></span>
            <span class="file__title"> Download free plan</span>
            <span class="file__feature"
              >Donec posuere augue venenatis, aliquet
            </span>
            <span class="file__feature"
              >Donec posuere augue venenatis, aliquet
            </span>
            <span>
              <span>
                <span> </span>
              </span>
            </span>
          </span>
        </label>
      </li>
      <li class="file__item">
        <label class="file__card">
          <input type="radio" name="app-card" class="file__checkbox" />
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore
          illum sapiente corrupti soluta reiciendis voluptas tenetur ipsam
          similique voluptate cum!
        </label>
      </li>
    </ul>
  </div>
</div>
