<!-- <script defer src="./js/modal.js"></script> -->
<div class="backdrop">
  <div class="modal">
    <h2 class="modal__title">Download</h2>
    <ul class="file__list">
      <li class="file__item">
        <label class="file__card">
          <input type="radio" name="app-card" class="file__checkbox" />
          <span class="card-box">
            <span class="file__logo">
              <svg class="file__icon">
                <use href="./images/symbol-defs.svg#file-download"></use>
              </svg>
            </span>
            <span class="file__title">Download free plan</span>
            <span class="file__feature">
              <svg class="file__arrow">
                <use href="./images/symbol-defs.svg#modal-right-arrow"></use>
              </svg>
              Donec posuere augue venenatis, aliquet
            </span>
            <span class="file__feature">
              <svg class="file__arrow">
                <use href="./images/symbol-defs.svg#modal-right-arrow"></use>
              </svg>
              Donec posuere augue venenatis, aliquet
            </span>
        </label>
      </li>
      <li class="file__item">
        <label class="file__card">
          <input type="radio" name="app-card" class="file__checkbox" />
          <span class="card-box">
            <span class="file__logo">
              <svg class="file__icon">
                <use href="./images/symbol-defs.svg#file-download"></use>
              </svg>
            </span>
            <span class="file__title">Download for 20$</span>
            <span class="file__feature">
              <svg class="file__arrow">
                <use href="./images/symbol-defs.svg#modal-right-arrow"></use>
              </svg>
              Donec posuere augue venenatis, aliquet
            </span>
            <span class="file__feature">
              <svg class="file__arrow">
                <use href="./images/symbol-defs.svg#modal-right-arrow"></use>
              </svg>
              Donec posuere augue venenatis, aliquet
            </span>
            <span class="file__feature">
              <svg class="file__arrow">
                <use href="./images/symbol-defs.svg#modal-right-arrow"></use>
              </svg>
              Donec posuere augue venenatis, aliquet
            </span>
        </label>
      </li>
    </ul>
    <p>
        Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque neque. 
        n sit amet lectus non lacus    
    </p>
    <ul class="details">
        <li class="details__item">
            <ul class="details__list author-details">
                <li class="author-details__item">
                    <svg class="file__arrow">
                        <use href="./images/symbol-defs.svg#app-name-icon"></use>
                    </svg>
                    <p>App name</p>
                    <p>Mobileapp.layout</p>
                </li>
                <li class="author-details__item">
                    <svg class="file__arrow">
                        <use href="./images/symbol-defs.svg#zip-file-icon"></use>
                    </svg>
                    <p>License</p>
                    <p>Free</p>
                </li>
                <li class="author-details__item">
                    <svg class="file__arrow">
                        <use href="./images/symbol-defs.svg#user-avatar"></use>
                    </svg>
                    <p>Author</p>
                    <p>Mobile Marrket App.com</p>
                </li>
                <li class="author-details__item">
                    <svg class="file__arrow">
                        <use href="./images/symbol-defs.svg#calendar-icon"></use>
                    </svg>
                    <p>Data</p>
                    <p>21.02.2022</p>
                </li>
            </ul>
        </li>
        <li class="details__item">
            <ul class="details__list tech-details">
                <li class="tech-details__item">
                    <svg class="file__arrow">
                        <use href="./images/symbol-defs.svg#os-icon"></use>
                    </svg>
                    <p>OC</p>
                    <p>Windows</p>
                </li>
                <li class="tech-details__item">
                    <svg class="file__arrow">
                        <use href="./images/symbol-defs.svg#language-icon"></use>
                    </svg>
                    <p>Language</p>
                    <p>English</p>
                </li>
                <li class="tech-details__item">
                    <svg class="file__arrow">
                        <use href="./images/symbol-defs.svg#scales-icon"></use>
                    </svg>
                    <p>Size</p>
                    <p>4.16 MB</p>
                </li>
                <li class="tech-details__item">
                    <svg class="file__arrow">
                        <use href="./images/symbol-defs.svg#download-icon"></use>
                    </svg>
                    <p>Downloads</p>
                    <p>964</p>
                </li>
            </ul>
        </li>
    </ul>
    <a href="#">Download</a>
  </div>
</div>
