<section class="team">
  <div class="container">
    <h2 class="title">Our team</h2>
    <p class="text">
      Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque
      neque. In sit amet lectus non lacus sollicitudin cursus a vitae felis.
      Praesent luctus mi quis nisi interdum eleifend.
    </p>
    <ul class="team__list">
      <li class="team__item member-1">
        <picture class="team__photo">
          <source
            srcset="
              ./images/team/img-team-lg-1@1x.jpg 1x,
              ./images/team/img-team-lg-1@2x.jpg 2x
            "
            media="(min-width: 1279px)"
          />
          <source
            srcset="
              ./images/team/img-team-md-1@1x.jpg 1x,
              ./images/team/img-team-md-1@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1279px)"
          />
          <source
            srcset="
              ./images/team/img-team-sm-1@1x.jpg 1x,
              ./images/team/img-team-sm-1@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./images/team/img-team-sm-1@1x.jpg" alt="Jon Doe's photo" />
        </picture>
        <div class="team__descr">
          <h3 class="team__name">Jon Doe</h3>
          <h4 class="team__position">Managing Direcor</h4>
        </div>
      </li>
      <li class="team__item member-2">
        <picture class="team__photo">
          <source
            srcset="
              ./images/team/img-team-lg-2@1x.jpg 1x,
              ./images/team/img-team-lg-2@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              ./images/team/img-team-md-2@1x.jpg 1x,
              ./images/team/img-team-md-2@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/team/img-team-sm-2@1X.jpg 1x,
              ./images/team/img-team-sm-2@2X.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./images/team/img-team-sm-2@1X.jpg" alt="Jon Doe's photo" />
        </picture>
        <div class="team__descr">
          <h3 class="team__name">Jon Doe</h3>
          <h4 class="team__position">Lead Designer</h4>
        </div>
      </li>
      <li class="team__item member-3">
        <picture class="team__photo">
          <source
            srcset="
              ./images/team/img-team-sm-3@1X.jpg 1x,
              ./images/team/img-team-sm-3@2X.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/team/img-team-md-3@1x.jpg 1x,
              ./images/team/img-team-md-3@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1279px)"
          />
          <source
            srcset="
              ./images/team/img-team-lg-3@1x.jpg 1x,
              ./images/team/img-team-lg-3@2x.jpg 2x
            "
            media="(min-width: 1279px)"
          />
          <img src="./images/team/img-team-sm-3@1X.jpg" alt="Jon Doe's photo" />
        </picture>
        <div class="team__descr">
          <h3 class="team__name">Jon Doe</h3>
          <h4 class="team__position">Lead Developer</h4>
        </div>
      </li>
      <li class="team__item member-4">
        <picture class="team__photo">
          <source
            srcset="
              ./images/team/img-team-sm-4@1X.jpg 1x,
              ./images/team/img-team-sm-4@2X.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/team/img-team-md-4@1x.jpg 1x,
              ./images/team/img-team-md-4@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1279px)"
          />
          <source
            srcset="
              ./images/team/img-team-lg-4@1x.jpg 1x,
              ./images/team/img-team-lg-4@2x.jpg 2x
            "
            media="(min-width: 1279px)"
          />
          <img src="./images/team/img-team-sm-4@1X.jpg" alt="Jon Doe's photo" />
        </picture>
        <div class="team__descr">
          <h3 class="team__name">Jon Doe</h3>
          <h4 class="team__position">Sr. UI Designer</h4>
        </div>
      </li>
    </ul>
  </div>
</section>
