<section class="team">
    <div class="container">
        <h2 class="title">Our team</h2>
        <p>Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque neque. In sit amet lectus non lacus sollicitudin cursus a vitae felis. Praesent luctus mi quis nisi interdum eleifend.</p>
        <ul class="team__list"> 
            <li class="team__item">
                <!-- <img
                class="team__photo"
                srcset=""
                sizes=""
                src=""
                alt="Jon Doe's photo"
                width=""
                height=""
                loading="lazy"/> -->
                <div class="team__descr">
                    <h3 class="team__name">Jon Doe</h3>
                    <h4 class="team__position">Managing Direcor</h4>
                </div>
            </li>
            <li class="team__item">
                <!-- <img
                class="team__photo"
                srcset=""
                sizes=""
                src=""
                alt="Jon Doe's photo"
                width=""
                height=""
                loading="lazy"/> -->
                <div class="team__descr">
                    <h3 class="team__name">Jon Doe</h3>
                    <h4 class="team__position">Managing Direcor</h4>
                </div>
            </li>
            <li class="team__item">
                <!-- <img
                class="team__photo"
                srcset=""
                sizes=""
                src=""
                alt="Jon Doe's photo"
                width=""
                height=""
                loading="lazy"/> -->
                <div class="team__descr">
                    <h3 class="team__name">Jon Doe</h3>
                    <h4 class="team__position">Managing Direcor</h4>
                </div>
            </li>
            <li class="team__item">
                <!-- <img
                class="team__photo"
                srcset=""
                sizes=""
                src=""
                alt="Jon Doe's photo"
                width=""
                height=""
                loading="lazy"/> -->
                <div class="team__descr">
                    <h3 class="team__name">Jon Doe</h3>
                    <h4 class="team__position">Managing Direcor</h4>
                </div>
            </li>
        </ul>
    </div>
</section>
