<section class="team" id="team">
  <div class="container">
    <h2 class="title">Our team</h2>
    <p class="text">
      Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque
      neque. In sit amet lectus non lacus sollicitudin cursus a vitae felis.
      Praesent luctus mi quis nisi interdum eleifend.
    </p>
    <ul class="team__list">
      <li class="team__item member-1">
        <picture class="team-picture">
          <source
            srcset="
              ./images/team/team1-lg@1x.png 1x,
              ./images/team/team1-lg@2x.png 2x
            "
            media="(min-width: 1279px)"
          />
          <source
            srcset="
              ./images/team/team1-md@1x.png 1x,
              ./images/team/team1-md@2x.png 2x
            "
            media="(min-width: 768px) and (max-width: 1279px)"
          />
          <source
            srcset="
              ./images/team/team1-sm@1x.png 1x,
              ./images/team/team1-sm@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src=" ./images/team/team1-sm@2x.png "
            alt="Jon Doe's photo"
            class="team-foto"
          />
        </picture>
        <div class="team__descr">
          <h3 class="team__name">Jon Doe</h3>
          <h4 class="team__position">Managing Direcor</h4>
        </div>
      </li>
      <li class="team__item member-2">
        <picture class="team-picture">
          <source
            srcset="
              ./images/team/team2-lg@1x.png 1x,
              ./images/team/team2-lg@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/team/team2-md@1x.png 1x,
              ./images/team/team2-md@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/team/team2-sm@1x.png 1x,
              ./images/team/team2-sm@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/team/team2-lg@2x.png "
            alt="Jon Doe's photo"
            class="team-foto"
          />
        </picture>
        <div class="team__descr">
          <h3 class="team__name">Jon Doe</h3>
          <h4 class="team__position">Lead Designer</h4>
        </div>
      </li>

      <li class="team__item member-3">
        <picture class="team-picture">
          <source
            srcset="
              ./images/team/team3-sm@1x.png 1x,
              ./images/team/team3-sm@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/team/team3-md@1x.png 1x,
              ./images/team/team3-md@2x.png 2x
            "
            media="(min-width: 768px) and (max-width: 1279px)"
          />
          <source
            srcset="
              ./images/team/team3-lg@1x.png 1x,
              ./images/team/team3-lg@2x.png 2x
            "
            media="(min-width: 1279px)"
          />
          <img
            src="./images/team/team3-sm@2x.png"
            alt="Jon Doe's photo"
            class="team-foto"
          />
        </picture>
        <div class="team__descr">
          <h3 class="team__name">Jon Doe</h3>
          <h4 class="team__position">Lead Developer</h4>
        </div>
      </li>

      <li class="team__item member-4">
        <picture class="team-picture">
          <source
            srcset="
              ./images/team/team4-sm@1x.png 1x,
              ./images/team/team4-sm@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/team/team4-md@1x.png 1x,
              ./images/team/team4-md@2x.png 2x
            "
            media="(min-width: 768px) and (max-width: 1279px)"
          />
          <source
            srcset="
              ./images/team/team4-lg@1x.png 1x,
              ./images/team/team4-lg@2x.png 2x
            "
            media="(min-width: 1279px)"
          />
          <img
            src="./images/team/team4-sm@1x.png"
            alt="Jon Doe's photo"
            class="team-foto"
          />
        </picture>
        <div class="team__descr">
          <h3 class="team__name">Jon Doe</h3>
          <h4 class="team__position">Sr. UI Designer</h4>
        </div>
      </li>
      <!-- del commit -->
    </ul>
  </div>
</section>
