<section class="section aside" id="testimonials">
  <div class="container">
    <h2 class="title aside__title">WHAT OUR COSTUMER’S SAY</h2>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            class="aside__img"
            srcset="
              ./images/testimonials/img-testimonials-@1x.jpg 1x,
              ./images/testimonials/img-testimonials-@2x.jpg 2x
            "
            src="./images/testimonials/img-testimonials-@1x.jpg"
            alt="чоловік"
            width="181"
            height="181"
          />

          <h3 class="aside__subject">Jon Doe</h3>
          <p class="aside__text">Company Inc.</p>
          <p class="aside__desc">
            Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
            venenatis. semper libero nec sapien condimentum dignissim. Nunc ante
            ligula, tempor in tellus in, gravida vestibulum justo. Nulla
            facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor
            pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a
            tempus. Aenean gravida massa et ante pulvinar, id
          </p>
        </div>
        <div class="swiper-slide">
          <img
            class="aside__img"
            srcset="
              ./images/team/team1-lg@1x.jpg 1x,
              ./images/team/team1-lg@2x.jpg 2x
            "
            src="./images/team/team1-lg@1x.jpg"
            alt="чоловік"
            width="181"
            height="181"
          />

          <h3 class="aside__subject">Jon Doe</h3>
          <p class="aside__text">Company Inc.</p>
          <p class="aside__desc">
            Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
            venenatis. semper libero nec sapien condimentum dignissim. Nunc ante
            ligula, tempor in tellus in, gravida vestibulum justo. Nulla
            facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor
            pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a
            tempus. Aenean gravida massa et ante pulvinar, id
          </p>
        </div>
        <div class="swiper-slide">
          <img
            class="aside__img"
            srcset="./images/testimonials/slider/elon.jpeg"
            src="./images/testimonials/slider/elon.jpeg"
            alt="чоловік"
            width="181"
            height="181"
          />

          <h3 class="aside__subject">Elon Musk</h3>
          <p class="aside__text">Tesla</p>
          <p class="aside__desc">Great application</p>
        </div>
        <div class="swiper-slide">
          <img
            class="aside__img"
            srcset="
              ./images/team/team1-lg@1x.jpg 1x,
              ./images/team/team1-lg@2x.jpg 2x
            "
            src="./images/team/team1-lg@1x.jpg"
            alt="чоловік"
            width="181"
            height="181"
          />

          <h3 class="aside__subject">Jon Doe</h3>
          <p class="aside__text">Company Inc.</p>
          <p class="aside__desc">
            Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
            venenatis. semper libero nec sapien condimentum dignissim. Nunc ante
            ligula, tempor in tellus in, gravida vestibulum justo. Nulla
            facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor
            pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a
            tempus. Aenean gravida massa et ante pulvinar, id
          </p>
        </div>
        <div class="swiper-slide">
          <img
            class="aside__img"
            srcset="
              ./images/team/team1-lg@1x.jpg 1x,
              ./images/team/team1-lg@2x.jpg 2x
            "
            src="./images/team/team1-lg@1x.jpg"
            alt="чоловік"
            width="181"
            height="181"
          />

          <h3 class="aside__subject">Jon Doe</h3>
          <p class="aside__text">Company Inc.</p>
          <p class="aside__desc">
            Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
            venenatis. semper libero nec sapien condimentum dignissim. Nunc ante
            ligula, tempor in tellus in, gravida vestibulum justo. Nulla
            facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor
            pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a
            tempus. Aenean gravida massa et ante pulvinar, id
          </p>
        </div>
        <div class="swiper-slide">
          <img
            class="aside__img"
            srcset="
              ./images/team/team1-lg@1x.jpg 1x,
              ./images/team/team1-lg@2x.jpg 2x
            "
            src="./images/team/team1-lg@1x.jpg"
            alt="чоловік"
            width="181"
            height="181"
          />

          <h3 class="aside__subject">Jon Doe</h3>
          <p class="aside__text">Company Inc.</p>
          <p class="aside__desc">
            Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
            venenatis. semper libero nec sapien condimentum dignissim. Nunc ante
            ligula, tempor in tellus in, gravida vestibulum justo. Nulla
            facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor
            pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a
            tempus. Aenean gravida massa et ante pulvinar, id
          </p>
        </div>
      </div>

      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
