<section class="section aside" id="testimonials">
  <div class="container">
    <h2 class="title aside__title">WHAT OUR COSTUMER’S SAY</h2>
    <div class="swiper slider">
      <div class="slider-wrapper swiper-wrapper">
        <div class="slider__slide swiper-slide">
          <img
            class="aside__img"
            srcset="
              ./images/team/team1-lg@1x.png 1x,
              ./images/team/team1-lg@2x.png 2x
            "
            src="./images/team/team1-lg@2x.png"
            alt="чоловік"
            width="181"
            height="181"
          />

          <h3 class="aside__subject">Jon Doe</h3>
          <p class="aside__text">Company Inc.</p>
          <p class="aside__desc">
            Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
            venenatis. semper libero nec sapien condimentum dignissim. Nunc ante
            ligula, tempor in tellus in, gravida vestibulum justo. Nulla
            facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor
            pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a
            tempus. Aenean gravida massa et ante pulvinar, id
          </p>
        </div>
        <div class="swiper-slide">
          <img
            class="aside__img"
            srcset="
              ./images/team/team1-lg@1x.png 1x,
              ./images/team/team1-lg@2x.png 2x
            "
            src="./images/team/team1-lg@1x.png"
            alt="чоловік"
            width="181"
            height="181"
          />

          <h3 class="aside__subject">Jon Doe</h3>
          <p class="aside__text">Company Inc.</p>
          <p class="aside__desc">
            Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
            venenatis. semper libero nec sapien condimentum dignissim. Nunc ante
            ligula, tempor in tellus in, gravida vestibulum justo. Nulla
            facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor
            pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a
            tempus. Aenean gravida massa et ante pulvinar, id
          </p>
        </div>
        <div class="swiper-slide">
          <img
            class="aside__img"
            srcset="
              ./images/team/team2-lg@1x.png 1x,
              ./images/team/team2-lg@2x.png 2x
            "
            src="./images/team/team2-lg@1x.png"
            alt="чоловік"
            width="181"
            height="181"
          />

          <h3 class="aside__subject">Jon Doe</h3>
          <p class="aside__text">Company Inc</p>
          <p class="aside__desc">
            Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
            venenatis. semper libero nec sapien condimentum dignissim. Nunc ante
            ligula, tempor in tellus in, gravida vestibulum justo. Nulla
            facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor
            pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a
            tempus. Aenean gravida massa et ante pulvinar, id
          </p>
        </div>
        <div class="swiper-slide">
          <img
            class="aside__img"
            srcset="
              ./images/team/team3-lg@1x.png 1x,
              ./images/team/team3-lg@2x.png 2x
            "
            src=" ./images/team/team3-lg@1x.png"
            alt="чоловік"
            width="181"
            height="181"
          />

          <h3 class="aside__subject">Jon Doe</h3>
          <p class="aside__text">Company Inc</p>
          <p class="aside__desc">
            Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
            venenatis. semper libero nec sapien condimentum dignissim. Nunc ante
            ligula, tempor in tellus in, gravida vestibulum justo. Nulla
            facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor
            pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a
            tempus. Aenean gravida massa et ante pulvinar, id
          </p>
        </div>
        <div class="swiper-slide">
          <img
            class="aside__img"
            srcset="
              ./images/team/team4-lg@1x.png 1x,
              ./images/team/team4-lg@2x.png 2x
            "
            src=" ./images/team/team4-lg@1x.png"
            alt="чоловік"
            width="181"
            height="181"
          />

          <h3 class="aside__subject">Jon Doe</h3>
          <p class="aside__text">Company Inc.</p>
          <p class="aside__desc">
            Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
            venenatis. semper libero nec sapien condimentum dignissim. Nunc ante
            ligula, tempor in tellus in, gravida vestibulum justo. Nulla
            facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor
            pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a
            tempus. Aenean gravida massa et ante pulvinar, id
          </p>
        </div>
        <div class="swiper-slide">
          <img
            class="aside__img"
            srcset="
              ./images/testimonials/slider/ihor@1x.jpeg 1x,
              ./images/testimonials/slider/ihor@2x.jpeg 2x
            "
            src=" ./images/testimonials/slider/ihor@2x.jpeg"
            alt="чоловік"
            width="181"
            height="181"
          />

          <h3 class="aside__subject">Ihor Demyanenko</h3>
          <p class="aside__text">Product Designer</p>
          <p class="aside__desc">
            Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
            venenatis. semper libero nec sapien condimentum dignissim. Nunc ante
            ligula, tempor in tellus in, gravida vestibulum justo. Nulla
            facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor
            pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a
            tempus. Aenean gravida massa et ante pulvinar, id
          </p>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
