<section class="section aside">
    <div class="container">
        <h2 class="aside__title"> WHAT OUR COSTUMER’S SAY</h2>
        <picture>

            <!-- desktop screen -->
            <source 
            media="(min-width: 1280px)" 
            srcset="
            ../images/testimonials/img-testimonials-@1x.webp 1x,
            ../images/testimonials/img-testimonials-@2x.webp 2x
            " 
            type="image/webp"
            />
           
            <source 
            media="(min-width: 1280px)" 
            srcset="
            ../images/testimonials/img-testimonials-@1x.jpg 1x,
            ../images/testimonials/img-testimonials-@2x.jpg 2x
            " 
            type="image/jpg"
            />

             <!-- tablet screen -->
             <source 
            media="(min-width: 768px)" 
            srcset="
            ../images/testimonials/img-testimonials-@1x.webp 1x,
            ../images/testimonials/img-testimonials-@2x.webp 2x
            " 
            type="image/webp"
            />
             <source 
             media="(min-width: 768px)" 
             srcset="
             ../images/testimonials/img-testimonials-@1x.jpg 1x,
             ../images/testimonials/img-testimonials-@2x.jpg 2x
             " 
             type="image/jpg"
             />

              <!-- mobile screen -->
            <source 
            media="(max-width: 767px)" 
            srcset="
            ../images/testimonials/img-testimonials-@1x.webp 1x,
            ../images/testimonials/img-testimonials-@2x.webp 2x
            " 
            type="image/webp"
            />
            <source 
            media="(max-width: 767px)" 
            srcset="
            ../images/testimonials/img-testimonials-@1x.jpg 1x,
            ../images/testimonials/img-testimonials-@2x.jpg 2x
            " 
            type="image/jpg"
            />
            
            <img
            src="../images/testimonials/img-testimonials-@1x.jpg"
            alt="чоловік"
            width="181" 
            height="181"
            loading="lazy"
              />
        </picture>

        <h3 class="aside__subject">Jon Doe</h3>
        <p class="aside__text">Company Inc.</p>
        <p class="aside__desc">
            Vestibulum placerat nisl quis justo venenatis, et lacinia nunc venenatis. semper libero nec sapien condimentum 
            dignissim. Nunc ante ligula, tempor in tellus in, gravida vestibulum justo. Nulla facilisi. Nullam tristique eros quis nibh 
            tempus, vel viverra dolor pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a tempus. Aenean gravida 
            massa et ante pulvinar, id 
        </p>
        
    </div>
</section>
