<section class="video section">
  <div class="container">
    <h2 class="videa__title">WATCH THE VIDEO</h2>
    <p class="video__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      fringilla fringilla nisl congue congue. Maecenas nec condimentum libero,
      at elementum mauris. Phasellus eget nisi dapibus, ultricies nisl at,
      hendrerit risusuis ornare luctus id sollicitudin ante lobortis at.
    </p>
    <div class="video__thumb">
      <a class="video__link" href="">logo</a>
      <a class="video__link" href="">logo</a>
    </div>
  </div>
</section>
