// =====================================================================
body {
  overflow: hidden;
}
// =====================================================================

.backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;

  background-color: salmon;
}

.modal {
  min-width: 280px;
  max-width: 568px;
  padding: 48px 24px;

  color: #ffffff;
  background-color: #07081c;
}

.card-box {
  display: block;
  width: 232px;
  height: 394px;

  padding: 20px 28px;

  background-color: #fff;
}

.file__logo {
  display: block;
  width: 80px;
  height: 106px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  background-color: tomato;
}

.file__title {
  display: block;

  margin-bottom: 20px;

  text-align: center;
  color: #000;
}

.file__feature {
  display: block;

  color: #000;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}
