.box {
  width: 100%;
  height: 20px;
  background-color: #06071b;
}

.header {
  position: fixed;
  z-index: 100;
  top: 20;
  left: 0;
  width: 100%;

  background-color: #06071b;
  background-image: linear-gradient(
    90.03deg,
    rgba(0, 197, 235, 0.3) -1.97%,
    rgba(181, 68, 254, 0.3) 89.43%
  );
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  font-size: 28px;
  line-height: 1.21;
  color: #ffffff;
}

.menu__button {
  width: 26px;
  height: 17px;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu__icon {
  width: 26px;
  height: 16px;
}

.navigation {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.navigation__list {
  display: flex;
  gap: 40px;

  color: #ffffff;
}

.navigation__item {
  font-size: 12px;
  line-height: 1.25;
}

.navigation__link {
  display: block;
  padding-top: 24px;
  padding-bottom: 23px;

  @media screen and (min-width: 1280px) {
    padding-top: 29px;
    padding-bottom: 28px;
  }
}

.navigation__link:hover,
.navigation__link:focus {
  background-image: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
