.header {
  margin-bottom: 100px;
  padding-top: 14px;
  padding-bottom: 14px;
  background: linear-gradient(
    90.03deg,
    rgba(0, 197, 235, 0.3) -1.97%,
    rgba(181, 68, 254, 0.3) 89.43%
  );

  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 145px;
    padding-top: 19px;
    padding-bottom: 19px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  font-size: 28px;
  line-height: 1.21;
  color: #ffffff;
}

.menu__button {
  width: 26px;
  height: 16px;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

// ================================
.menu__button:active {
  background-color: yellowgreen;
}
// ================================

.menu__icon {
  width: 26px;
  height: 16px;
}

.navigation {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.navigation__list {
  display: flex;
  gap: 40px;

  color: #ffffff;
}

.navigation__item {
  font-size: 12px;
  line-height: 1.25;
}
