
.aside {
    padding: 0px;
}

.aside__title {
    text-align: center;
    padding-bottom: 40px;
    max-width: 179px;
    margin-left: auto;
    margin-right: auto;

    @media  screen and (max-width: 767px) {
        font-size: 20px;
        line-height: 1.2;
    }

    @media  screen and (min-width: 768px) {
        max-width: 352px;

}
      
}

.aside__img {
 
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.aside__subject {
    font-size: 18px;
    line-height: 1.22; 
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 12px;
}  

.aside__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    padding-bottom: 24px;

}

.aside__desc {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    padding-bottom: 46px;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    

        @media  screen and (min-width: 768px) {
            font-size: 16px;
            line-height: 1.5;
            max-width: 704px;
    
    }

    @media  screen and (min-width: 1280px) {
        font-size: 16px;
        line-height: 1.5;
        max-width: 886px;

}
    
}