.video{
    background-color: rgba(6, 7, 27, 1);

    @media screen and(min-width:768px) {
        padding-bottom: 46px;
        
    }
}

.video__desktop{

    @media screen and(min-width:1280px) {
        display: flex;
        justify-content: space-between;
        margin: 0;
        
    }
}

.video__title{
    color: white;
    text-align: center;
    margin-bottom: 24px;

    @media screen and(min-width: 768px) {
        margin-bottom: 20px;
        
    }
}

.video__text{
    margin-left: auto;
    margin-right: auto;
    max-width: 280px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 24px;

    @media screen and(min-width: 768px) {
        max-width: 100%;
        background-image: url(../images/video/bg-img-video-md-2@1x.png);
        background-position: 0;
        background-repeat: no-repeat;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 20px;
    }

    @media screen and(min-width: 1280px) {
        display: flex;
        align-items: flex-start;
        margin-bottom: 40px;
        text-align: start;
        
    }
}

.video__thumb {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;

    @media screen and(min-width: 1280px) {
        align-items: flex-start;
        max-width: 479px;
        flex-wrap: wrap;
    }
}

.video__list{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin-bottom: 105px;

    @media screen and(min-width:768px) {
        margin-bottom: 84px;
    }
}

.video__link{
    display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: linear-gradient(90deg, #00c5eb -2%, #b544fe 90%);
}

.video__icon{
    fill: white;
}

.video__wrapper{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video__img{
    background-image: url(../images/video/bg-img-video-sm-@1x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

